body {
  margin: 0;
  padding: 0;
  min-width: 1200px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-buttons {
  background-color: #ee3643;
  border-radius: 3px;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.main-buttons:hover,
.main-buttons:focus {
  background-color: #ca2c37;
}

.main-buttons:active {
  background-color: #ba2732;
}

.catalog-page {
  font-family: "PT Sans", sans-serif;
}

/*Шапка сайта*/

.header {
  margin-bottom: 59px;
  min-height: 320px;

  background-color: #f4f8f9;
  background-image: url("../img/service-bg-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.catalog-header {
  margin-bottom: 0;
}

.header-logo {
  width: 220px;
  height: 42px;

  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}

.header-logo:hover {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0 0 #9a212a;
}

.header-logo:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0 0 #8e1e26;
}

.main-navigation {
  background-color: #293449;
  color: #ffffff;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation a {
  color: #ffffff;
}

.main-navigation input[type="search"] {
  border: none;
  background-color: #293449;
}

.main-navigation input[type="search"]::placeholder {
  color: #ffffff;
}

.main-navigation .link {
  text-align: center;
  vertical-align: middle;
}

.order-link {
  background-color: #63a63e;
}

.order-link:focus,
.order-link:hover {
  background-color: #5fbb2d;
}

.order-link:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.main-navigation input:hover,
.flag-link:hover,
.flag-link:focus,
.cart-link:hover,
.cart-link:focus {
  background-color: #212a3a;
}

.main-navigation input:focus {
  background-color: #ffffff;
}

.flag-link:active,
.cart-link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.cart-success {
  background-color: #ee3643;
}

.site-title {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: 400;
}

.header-contacts a {
  border: solid 3px #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
}

.header-info {
  min-height: 158px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-info-adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
}

.account-link,
.account-link-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
}

.account-data .account-link {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.account-link:hover,
.account-link:focus {
  color: #ee3643;
}

.account-link:active,
.account-link-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
  margin: 0;
  min-height: 60px;
  display: flex;

  border-bottom: solid 3px #293449;
  background-color: #32425c;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
  line-height: 17px;
}

.site-navigation li:hover,
.site-navigation li:focus {
  background-color: #293449;
}

.site-navigation li:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*Основная часть сайта*/
.wrapper-service .container {
  display: flex;
  justify-content: space-between;
  }

.first-service-column {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  
  margin-bottom: 20px;
  }

.second-service-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 20px;
}

.wrapper-service {
  margin-bottom: 53px;
}

.type-of-service {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.second-service-column .type-of-service {
  margin-right: 0;
}

.service-caption {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}

.service-link {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 3px;
  text-align: center;
}

.service-link:hover,
.service-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.service-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.technic {
  background-color: #dc91d8;
}

.sale {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider {
  margin-right: 20px;
  margin-bottom: 20px;
}

.slider-item {
  width: 620px;
  height: 266px;

  color: #ffffff;
  background-color: #32425c;
}

.slide-1 {
  background-color: #b3a391;
  background-image: url("../img/slide-1.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slide-2 {
  background-color: #6b5a4d;
  background-image: url("../img/slide-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  display: none;
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-slogan {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.breadcrumbs-list {
  list-style: none;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  min-height: 59px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list a {
  font-size: 13px;
  text-transform: uppercase;
}

.caption {
  margin: 0;

  font-family: "Cuprum", sans-serif;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.categories-wrapper {
  min-height: 89px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 20px;

  background-color: #f2f6f8;
}

/*Фильтр и сортировка*/

.filter {
  width: 220px;
  text-transform: uppercase;
}

.filter-title {
  font-size: 13px;
}

.filter-title-wrapper {
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  display: flex;
  padding-left: 18px;
  align-items: center;
  border-radius: 3px;
}

.filter fieldset {
  border: none;
}

.filter .price-fieldset,
.filter .manufacturers-fieldset {
  border-bottom: solid 1px #eaeaea;
}

.filter legend {
  line-height: 30px;
  font-weight: bold;
}

.filter-list {
  list-style: none;
}

.filter input[type="number"] {
  border: none;
  background-color: #f7f3ec;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.4;
}

.show-button {
  background-color: transparent;
  font-size: 13px;
  border: solid 1px #e5e5e5;
  text-transform: uppercase;
}

.sort-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 38px;
  margin-bottom: 20px;
  padding: 0 17px;
  border-radius: 3px;

  font-size: 13px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.sort-row-list {
  list-style: none;
}

.sort-row-list {
  display: flex;
  justify-content: space-around;
}

.sort-row a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-row a:hover,
.sort-row a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sort-row a:active {
  color: #ee3643;
  border: none;
}

/*Каталог товаров и популярные бренды*/

.popular {
  min-height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-brands-container {
  margin-bottom: 85px;
}

.catalog {
  width: 700px;
}

.catalog-main-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-products-container {
  margin: 20px auto;
}

.catalog-list {
  list-style: none;
}

.catalog-list {
  margin-left: -40px;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: solid 1px #eaeaea;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/icon-new.png") no-repeat 0 0;
}

.products-container .item-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.catalog-page-item:nth-child(3n),
.index-page-item:nth-child(4n) {
  margin-right: 0;
}

.products-container .new-item {
  margin-bottom: 45px;
}

.catalog-category,
.catalog-item-title {
  margin: 0;
}

.catalog-category b,
.catalog-item-title {
  text-transform: uppercase;
}

.catalog-item-image {
  padding: 0;
  margin: 0;
}

.catalog-item-image img {
  max-width: 100%;
}

.line-throuh-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .price-label {
  position: relative;
  width: 141px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  line-height: 20px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price-label:after {
  content: "";

  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 20px solid white;
  border-left-color: #ee3643;
}

/*Карточка товара при взаимодействии*/

.action-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 216px;
  height: 168px;
  padding: 40px 0;

  background-color: #ffffff;
  z-index: 10;
}

.action-item-card {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cuprum", sans-serif;
  border-radius: 3px;
}

.catalog-item .action-item {
  display: none;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .action-item {
  display: block;
}

.buy-button {
  background-color: #63a63e;
  border-bottom: solid 3px #367315;
  color: #ffffff;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  border-bottom: solid 3px #367315;
}

.buy-button:active {
  background-color: #518534;
  border-bottom: solid 3px #518534;
}

.bookmark-button {
  border: solid 3px #63a63e;
  color: #32425c;
}

.bookmark-button:hover,
.bookmark-button:focus {
  border-color: #32425c;
}

.bookmark-button:active {
  border-color: #32425c;
  opacity: 0.3;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a {
  background-color: #ee3643;
  border: none;
  color: #ffffff;
}

/*популярные производители*/

.popular-brands-list {
  list-style: none;
}

.popular-brands-list {
  margin: 0;
  padding: 0;
  min-height: 310px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.popular-brands-item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  width: 220px;
  height: 145px;

  border: solid 1px #eaeaea;
}

.popular-brands-item:hover,
.popular-brands-item:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
/*Сервисы и инфо о продукте*/

.features-service-container {
  width: 100%;
  min-height: 522px;
  margin-bottom: 82px;

  background-color: #f4f8f9;
  background-image: url("../img/service-bg-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.preferences-container {
  display: flex;
  justify-content: space-between;
}

.product-info-article {
  min-height: 261px;
  background-color: #f2f6f8;
}

.info-article-container .caption {
  color: #000000;
}

.product-info-article .container {
  padding-top: 67px;
}

.service-desc {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.service-list {
  list-style: none;
}

.service-title {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border-top: solid 1px #405069;
  border-bottom: solid 1px #293449;
}

.service-title:hover,
.service-title:focus {
  background-color: #293449;
}

.service-title:active {
  background-color: #ffffff;
  color: #32425c;
  border: none;
}

.service-item-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.info-service {
  width: 618px;

  background-position-x: 100%;
  background-repeat: no-repeat;
}

.info-delivery {
  background-image: url("../img/pic-delivery.png");
}

.info-guarantees {
  display: none;
  background-image: url("../img/pic-guarantees.png");
}

.info-credit {
  display: none;
  background-image: url("../img/pic-credit.png");
}

.info-aside-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.info-aside-container .advantages {
  width: 471px;
}

.info-aside-container .contact-info {
  width: 300px;
}

.info-aside-container .caption {
  color: #000000;
}

.delivery-companies-list {
  list-style: none;
}

.company-item {
  font-size: 18px;
  line-height: 20px;
}

/*подвал*/

.footer-logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  width: 220px;
  height: 63px;

  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
}

.footer-list {
  list-style: none;
}

.main-footer {
  background-color: #32425c;
}

.footer-navigation-container {
  min-height: 193px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-first-line-wrapper a,
.footer-phone {
  color: #ffffff;
}

.footer-first-line-wrapper,
.footer-second-line-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list,
.footer-service-list {
  width: 547px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-service-list {
  width: 524px;
}

.footer-service-list a,
.footer-contacts a {
  color: #ffd180;
}

.footer-list a:hover,
.footer-list a:focus,
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-list a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-aside {
  background-color: #293449;
  color: #ffffff;
  font-size: 16px;
}

.footer-social-list {
  min-width: 132px;
  display: flex;
  justify-content: space-between;
}

.social-item {
  margin: 0 3px;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-item:hover,
.social-item:focus,
.social-item:active {
  background-color: #ee3643;
}

.footer-contacts {
  min-width: 284px;
  display: flex;
  justify-content: space-between;
}

.footer-contacts a:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-aside-container {
  min-height: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*модальные окна*/

.modal-write-us-window,
.modal-cart-success {
  border-top: 7px solid #ff5257;
  font-size: 18px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-write-us-window {
  background-color: #f4f4f4;
  display: none;
}

.modal-write-us-window .write-us-input {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  color: #a9a9a9;
  border: solid 2px #dee3e4;
  border-radius: 3px;
}

.modal-write-us-window .write-us-input:hover {
  border-color: #b5b5b5;
}

.modal-write-us-window .write-us-input:focus {
  border-color: #ee3643;
}

.modal-cart-success {
  display: none;
}

.modal-map-window {
  display: none;
  box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.modal-map-window .modal-cart-success p {
  font-size: 30px;
  line-height: 30px;
}

.modal-cart-buttons {
  background-color: #f1f1f1;
}
.modal-cart .continue-button {
  border: none;
  background-color: #ffffff;
  color: #000000;
}
